.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0px 8px 10px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 10px -10px rgba(0, 0, 0, 0.75);
}

.profile {
  width: 65px;
  height: 65px;
  position: relative;
  left: 10px;
}

.user p {
  font-size: 25px;
  position: relative;
  right: 40px;
}

.flag {
  width: 40px;
  height: 40px;
  position: relative;
  right: 100px;
}

.user button img {
  width: 25px;
  height: 25px;
  position: relative;
  right: 10px;
}
